<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping {{mels}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <p>{{mels['common_name']}}</p>
            <p>${{mels['price']}}</p>
            <p>{{mels['color']}}</p>
                {%if mels['seedless'] == 'True'%}
                <p>Seedless!</p>
                {%else%}
                <p>Has Seeds</p>
                {%endif%}
    <button>Buy</button>
</body>
</html>